*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
                 Oxygen, Ubuntu, sans-serif;
   padding: 0;
   margin: 0;
}

body{
    display: flex;
    background-size: cover;
    background: linear-gradient(135deg, #fef7ed 0%, #fef3c7 100%);
    height: 100vh;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{ 
    font-size: 1.3rem;
}

h2{ 
    font-size: 1.2rem;
    color: #718096;
}

a{
    text-decoration: none;
}

.musica img{
    height: 100px;
    width: auto;
}

.main-container{
    background-color: white;
    width: 340px;
    height: 700px;
    border-radius: 5%;
    margin-top: 90px;
    margin-bottom: 90px;
    box-shadow: 0 8px 25px rgba(245, 158, 11, 0.1);
}

.datos-personales{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
}

.descripcion{
    border-left: 4px solid #5f3e05;
    background-color: #fffbeb;
    color: #5d483b;
    text-align: justify;
    padding: 10px;
    padding: 10px 20px 10px 20px;
   
}

.sobre-mi{
    text-align: center;
    width: 100%; /* abarca el espacio de los lados */
    justify-items: center; /* mover centro elementos */
    padding-top: 5px;
}

.musica{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
    height: auto;
    width: 280px;
    padding: 12px 0 20px 0;
}

.musica img {
    width: 100%; /* ancho celda */
    height: 100%; /* largo celda */
    object-fit: cover; /* mantiene proprcion y llena la celda (se pude quitar) */
    object-position: center; /* Centra imagen en celda del grip*/
     transition: all 300ms;
}

.musica img:hover{
    transform: scale(1.15);
}

.datos-personales img{
    width: 130px;      
    height: 130px;     
    border-radius: 50%;
}

/*

.tabla{
      border: 2px solid black;
}

.tabla th, .tabla td{
    border: 1px solid #949598;
}

*/
