form{
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;  
}